{% extends "layout.twig" %}

{% block content %}
   <div class="welcome">
        <h1>Welcome, Piri framework</h1>
        <p>PHP Light Framework MVC with flat file NoSQL database</p>
   </div>
{% endblock %}